* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.header {
  width: 100%;
  background-color: white;
  position: fixed;
  filter: drop-shadow(2px 2px 2px rgb(171, 167, 167));
  z-index: 4;
}

.head-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.logo-same {
  display: flex;
  align-items: center;
  gap: 7px;
}

.logo-desc {
  font-size: 40px;
  line-height: 50px;
  font-weight: 700;
  color: black;
  text-decoration: none;
  transition: 0.7s all;
}

.logo-desc:hover {
  color: rgb(14, 94, 94);
}

.head-links {
  display: flex;
  align-items: center;
  gap: 30px;
}

.head-items {
  list-style: none;
}

.head-items a {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: black;
  text-decoration: none;
}

.head-items a:hover {
  color: rgb(14, 94, 94);
}

.count-head {
  display: flex;
  align-items: center;
  gap: 10px;
}

.count-head img {
  transition: 0.7s all;
}

.count-head img:hover {
  filter: drop-shadow(2px 2px 2px red);
  cursor: pointer;
}

.count-desc {
  font-size: 18px;
  line-height: 21px;
  color: black;
}

.film-container {
  max-width: 550px;
  width: 100%;
  position: relative;
  border: 1px solid black;
  z-index: 1;
  border-radius: 10px;
}

.film-image {
  object-fit: cover;
  max-width: 550px;
  width: 100%;
  height: 400px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.film-all-same {
  padding: 20px;
}

.plus-image {
  top: 10px;
  cursor: pointer;
  right: 10px;
  position: absolute;
  border: 1px solid white;
  background-color: white;
  border-radius: 50%;
  padding: 5px;
}

.film-name {
  font-size: 30px;
  line-height: 35px;
  color: black;
  font-weight: 700;
  margin-bottom: 20px;
}

.film-plot {
  font-size: 18px;
  line-height: 20px;
  color: gray;
  margin-bottom: 10px;
}

.film1-same {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.film2-same {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.film3-same {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.film4-same {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.film5-same {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.film6-same {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.list-container{
  display: flex;
  flex-wrap: wrap;
  padding-top: 200px;
  gap: 20px;
  justify-content: space-between;
}